[submodule "modules/C-page-allocator"]
	path = modules/C-page-allocator
	url = git@github.com:Tredici/C-page-allocator.git
[submodule "modules/C-memory-manager"]
	path = modules/C-memory-manager
	url = git@github.com:Tredici/C-memory-manager.git
